{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row mb-4">
        <div class="col-md-6 offset-md-3">
            <div class="input-group">
                <input type="text" id="stockSearch" class="form-control" placeholder="Search for stocks..." autocomplete="off">
                <button class="btn btn-primary" type="button" id="searchBtn">
                    <i class="fas fa-search"></i> Search
                </button>
            </div>
            <div id="searchResults" class="list-group mt-2 d-none">
                <!-- Search results will be populated here -->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">
                        <i class="fas fa-chart-line"></i> 
                        <span id="selectedStockName">Stock Chart</span>
                    </h5>
                </div>
                <div class="card-body">
                    <div id="chartContainer" style="height: 500px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- TradingView Lightweight Charts -->
<script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock %}
