<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - CandleBot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="CandleBot Logo" class="minilogo">
        <form method="POST">
            {{ form.hidden_tag() }}
            <div>
                {{ form.username.label }} :
                {{ form.username(size=16) }}<br>
                {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div>
                {{ form.password.label }} :
                {{ form.password(size=16) }}
                {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div>
                {{ form.submit() }}
            </div>
        </form>
        <a href="/register">Don't have an account? Register here.</a>
    </div>
</body>
</html>